## ML ZoomCamp 2024
### Homework 1

#### 1. Import

##### 1.1 Import Libraries

In [1]:
# import packages
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

##### 1.2 Import data

In [2]:
# import dataframe
df = pd.read_csv('data/laptops.csv')

In [3]:
# display first 5 rows of dataframe
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

#### 2. Questions

##### 2.1 Pandas version
What's the version of Pandas that you installed?

In [4]:
# pandas version
pd.__version__

'2.2.3'

##### 2.2 Records count
How many records are in the dataset?

In [5]:
print("There are" , df.shape[0] ,"records")

There are 2160 records

##### 2.3 Records Laptop brands
How many laptop brands are presented in the dataset?

In [6]:
print("There are",df['Brand'].nunique(), "distinct brands" )

There are 27 distinct brands

##### 2.4 Missing Values
How many columns in the dataset have missing values?

In [7]:
# counting number of missing values
missing_values = df.isnull().sum()
# counting then number of columns with missing values
columns_with_missing_values = missing_values[missing_values > 0].count()
# print the number of columns with missing values
print("There are", columns_with_missing_values, "columns with missing values" )

There are 3 columns with missing values

##### 2.5 Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [8]:
# creating a variable for the dell brand
df_dell = df[df['Brand'] == 'Dell']
# sorting by Final Price and displaying the most expensive Dell Laptop
df_dell.sort_values(by='Final Price', ascending=False).head(1)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1335,Dell Precision 5770 Intel Core i7-12700H/16GB/...,New,Dell,Precision,Intel Core i7,16,512,SSD,RTX A2000,17.0,Yes,3936.0

##### 2.6 Median value of Screen
1. Find the median value of Screen column in the dataset.
2. Next, calculate the most frequent value of the same Screen column.
3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
4. Now, calculate the median value of Screen once again.

In [9]:
# calculating the median
median1 = df["Screen"].median()
print("The median for the Screen column is now", median1)

The median for the Screen column is now 15.6

In [10]:
# calculate the most frequent value
df["Screen"].mode()

0    15.6
Name: Screen, dtype: float64

In [11]:
# fill missing values with the median
df["Screen"] = df["Screen"].fillna(df["Screen"].mode()[0])

In [12]:
# check the median once again
median2 = df["Screen"].median()
# display the median
print("The median is now", median2)

The median is now 15.6

In [13]:
# if statement to compare the two medians
if median1 == median2:
    print("The medians are the same")
else :
    print ("the first one is", median1, "while the second one is", median2)

The medians are the same

##### 2.7 Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. 
5. Let's call the result XTX.
6. Compute the inverse of XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [14]:
# Select the "Innjoo" laptops 
df_injoo = df[df['Brand'] == 'Innjoo']

In [15]:
# creating a new dataframe with the columns RAM, Storage and Screen
df_injoo_tmp = df_injoo[['RAM','Storage','Screen']]

In [16]:
# getting the array from the new dataframe
X = df_injoo_tmp.values

In [17]:
# matrix-matrix multiplication
XTX = X.T.dot(X)
# display the result
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [18]:
# inverse of XTX
XTX_inverse = np.linalg.inv(XTX)
# display the result
XTX_inverse

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [19]:
# create a new array y
y = np.array([1100, 1300,800,900,1000,1100])

In [24]:
# Multiply the inverse of XTX with the transpose of X and then multiplication of the result with y
w = (XTX_inverse.dot(X.T)).dot(y)
# Sum of the elements of w
result = np.sum(w)
# display of the result
print(result)

91.29988062995753